body{
  margin:0;
}
.main_txt h1{
  padding-left:10px;

}

.box img{
  width:100%;
  height: auto;
}

.gallery figcaption{
  font-family: 'Manrope', sans-serif;
}

.lorem_ipsum{
  padding-bottom:30px;
}
.about{
  box-shadow: 1px 1px 10px grey;
  padding:25px;
}
